/* Add CSS styling here */
body{
    max-width:100%;
    background-image: url("./pic.jpg");
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}
/*
*{
    border:1px solid gray;
}
*/
.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



h1{
    text-shadow:0.3125rem 0.3125rem 0.1875rem #f304cb;
    font-size: 6rem;
    color: #ce9fe9;
    font-family: 'Dancing Script', cursive;
}

.small-container{
    background-color:#ffffa0;
    color: #ff7300;
    border-radius: 50%;
}

p{
    padding-bottom: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:-2rem auto 5rem auto;
}

.buttons a{
    height:1.5rem;
    width:auto;
    text-align:center;
    padding:.2rem;
    margin: .5rem;
    background-color: rebeccapurple;
    color: pink;
    text-decoration: none;
}

.buttons :hover{
    background-color:paleturquoise;
    color:darkolivegreen;
}

.small-container{
    width:75%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:end
}

.small-container p{
    width:100%;
}

.content img{
   height:31.25rem;
   margin:0.625rem 3.4375rem;
   width:90%;
}

.projects{
    height:6.25rem;
    display:flex;
    align-items:stretch;
    justify-content:stretch;
    height:32.5rem;
}

#project1, #project2, #project3, #project4{
    width:18%;
    margin:.5rem;
}

p2{
    width: 18%;
    margin:.5rem;
    font-size: 100%;
    background-color: palegoldenrod;
    border-radius: .8rem;
    color: rgb(24, 178, 250);
}

.footer-buttons{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.footer-buttons a{
    height:1.5rem;
    width:auto;
    text-align:center;
    padding:.2rem;
    margin: .5rem;
    background-color: rebeccapurple;
    color: pink;
    text-decoration: none;
}

.footer-buttons :hover{
    background-color:paleturquoise;
    color:darkolivegreen;
}

@media (max-width: 800px){

}

@media(max-width: 500px){
    .buttons{
        display:flex;
        flex-direction:column;
    }
    .projects{
        display:flex;
        flex-flow: row wrap;
    }
    #project1, #project2, #project3, #project4{
        width:48%;
        margin:.1%;
    }
    p2{
        width:98%;
        height: 15%;
        margin:1%;
    }
    .footer-buttons{
        display:flex;
        flex-direction: column;
    }
}