/* Add CSS styling here */
body{
    max-width:100%vw;
}

*{
    border:1px solid gray;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.buttons{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.buttons a{
    height:1.5rem;
    width:auto;
    text-align:center;
    padding:.2rem;
    margin: .5rem;
}

.small-container{
    width:75%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:end
}

.small-container p{
    width:100%;
}

.projects{
    height:100px;
    display:flex;
    align-items:stretch;
    justify-content:stretch;
    height:25rem
}

.projects a{
    width:18%;
    margin:.5rem;
}

.projects p2{
    width: 18%;
    margin:.5rem;
}

